body{
    font-family: 'roboto';
}

/* font 12px */
.f-12{
    font-size: 12px;
}

/* font 14px */
.f-14{
    font-size : 14px;
}

/* border radius 10px */
.br-10{
    border-radius: 10px;
}
/* button orange */
.btn-orange {
    background-color: #FC511B;
    color : white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* button blue */
.btn-blue {
    background-color: #0BC2EE;
    color : white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* button grey */
.btn-grey {
    background-color: #9C9C9C;
    color : white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* text color grey */
.txt-grey {
    color : #9C9C9C;
}

/* text color green */
.txt-green{
    color : #3FBB28;
}

/* btn shop */
.btn-shop{
    font-size: 20px;
}
/* text color blue */
.txt-blue {
    color : #0BC2EE;
}

.bg-blue{
    background-color: #0BC2EE;
}

/* footer */
.footer {
    background-color: #2715ad;
}

.footer a{
    text-decoration: none !important;
    font-weight: 500;
}


/* header */

/* default */
.header-default .nav-bg{
    height: 35px;
}

/* home */

.best-destination a{
    text-decoration: none !important;
}

.best-destination .vendor,
.best-destination .date{
    font-size: 12px;
}

.header .form-header{
    position: relative;
    margin-top: -100px;
    z-index: 1;
}

.range{
    width: 100%;
}

/* customer data */
.box-pagination{
    height: 35px;
    width: 35px;
    border: 2px solid #0BC2EE;
    font-size: 22px;
    font-weight: bold;
    color:  #0BC2EE;
}

.pagination-active{
    background-color: #0BC2EE;
    color: white;
}

/* check in box */
.box-check{
    height: 50px;
    width: 500px;
    border: 2px solid #02A0E9;
}
/* template */
/* template vendor */
.top-bg-header-vendor{
    background-color: #02A0E9;
    height: 25px;
}

/* login */

.login .nav{
    background-color: #02A0E9;
    height: 35px;
}

.login .form .card{
    width: 450px;
}

.login .form h4{
    text-align: left;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.login .form label{
    color: #9C9C9C;
    font-size: 16px;
    font-weight: 500;
}

.login .form .forget-pw {
    font-size: 14px;
    color: #9C9C9C;
    font-weight: 400;

}

.login .form button{
    background-color: #FC511B;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.login .card-header{
    background-color: #02A0E9;
}


